CS367/Classlist_XML_Schema/Classlist_XML_Schema.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Student" type="StudentType" />

    <xs:complexType name="NameType">
        <xs:sequence>
            <xs:element name="firstName" type="xs:string" />
            <xs:element name="lastName" type="xs:string" />
            <xs:element name="nickName" type="xs:string" />
            <xs:element name="prefix" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="StudentType">
        <xs:sequence>
            <xs:element name="studentNo" type="StudentNoType" />
            <xs:element name="name" type="NameType" />
            <xs:element name="studentInfo" type="StudentInfoType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="StudentInfoType">
        <xs:sequence>
            <xs:element name="studentDegree" type="StudentDegreeType" />
            <xs:element name="studentStatus" type="StudentStatusType" />
            <xs:element name="studentYear" type="StudentYearType" />
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="StudentNoType">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{10}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="StudentDegreeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ป.ตรี" />
            <xs:enumeration value="ป.โท" />
            <xs:enumeration value="ป.เอก" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="StudentStatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ปกติ" />
            <xs:enumeration value="พิเศษ" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="StudentYearType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1" />
            <xs:maxInclusive value="8" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="TeacherType">
        <xs:sequence>
            <xs:element name="id" type="xs:string" />
            <xs:element name="name" type="NameType" />
            <xs:element name="subject" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SubjectType">
        <xs:sequence>
            <xs:element name="id" type="xs:string" />
            <xs:element name="teacher" type="TeacherType" />
            <xs:element name="whenToStudy" type="WhenToStudyType" />
            <xs:element name="weekScores" type="weekScoresType" />
            <xs:element name="totalScore" type="scoreType" />
            <xs:element name="credit" type="xs:integer" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="WhenToStudyType">
        <xs:sequence>
            <xs:element name="date" type="xs:date" />
            <xs:element name="start" type="xs:time" />
            <xs:element name="end" type="xs:time" />
            <xs:element name="roomNumber" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="weekScoresType">
        <xs:sequence>
            <xs:element name="week" type="weekType" />
            <xs:element name="score" type="scoreType" />
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="weekType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="scoreType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="100" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>