CS367/Classlist_XML_Schema_Update/Classlist_XML_Schema_Update.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Student" type="StudentType" />
    <xs:complexType name="StudentType">
        <xs:sequence>
            <xs:element name="studentNo" type="StudentNoType" />
            <xs:element name="studentName" type="xs:string" />
            <xs:element name="studentId" type="xs:string" />
            <xs:element name="studentType" type="StudentTypeEnum" />
            <xs:element name="studentStatus" type="StudentStatusEnum" />
        </xs:sequence>
    </xs:complexType>   
    <xs:simpleType name="StudentNoType">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{10}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StudentTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ป.ตรี ปกติ" />
            <xs:enumeration value="ป.ตรี พิเศษ" />
            <xs:enumeration value="ป.โท ปกติ" />
            <xs:enumeration value="ป.โท พิเศษ" />
            <xs:enumeration value="ป.เอก ปกติ" />
            <xs:enumeration value="ป.เอก พิเศษ" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StudentStatusEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="audit" />
            <xs:enumeration value="credit" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SubjectType">
        <xs:sequence>
            <xs:element name="id" type="xs:string" />
            <xs:element name="teacher" type="xs:string" />
            <xs:element name="whenToStudy" type="WhenToStudyType" />
            <xs:element name="weekScores" type="weekScoresType" />
            <xs:element name="totalScore" type="scoreType" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="WhenToStudyType">
        <xs:sequence>
            <xs:element name="date" type="xs:date" />
            <xs:element name="start" type="xs:time" />
            <xs:element name="end" type="xs:time" />
            <xs:element name="roomNumber" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="weekScoresType">
        <xs:sequence>
            <xs:element name="week" type="xs:integer" />
            <xs:element name="score" type="scoreType" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="scoreType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="100" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>